h1{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size:larger;
    color:rgb(242, 246, 250);
    text-align: center;
    text-shadow: 0px 0px 5px yellow,0px -5px 5px red; 
    
    clear: both;
}
h1:hover{
    box-shadow: 5px 5px 5px rgb(131, 124, 124);
}
h2{
    color: rgb(58, 61, 65);
    text-shadow: 0px 0px 5px lightseagreen;
  
}
div{
    background-color: rgb(180, 173, 164);
    margin:5%  10%;
    padding: 4%;
}
img{
    float: right;
    margin-bottom: 5%;
    height: 150px;
}
a{
    width: 25%;
    color: aliceblue;
   display: inline;
}
.fa-youtube{
    color: red;
}
.fa-whatsapp{
    color: green;
}
.fa-google{
    color:teal;
}
.fa-facebook{
    color: blue;
}
a,button{
   
    margin: 2%;
    text-shadow: none;
    
}

a:link{
    color: antiquewhite;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: brown;
}
a:active{
    color: aqua;
}
button:active{
    background-color: rgb(7, 31, 75);
 
}
button:hover{
    background-color: rgb(40, 128, 79);
   

}
ul{
    color: rgb(24, 25, 26);
   margin-left: 30%;
   margin-top: 5%;
    width: 30%;
    background-color: blanchedalmond;
}
li:nth-child(even){
    background-color: yellowgreen;
}
li:nth-child(1){
    background-color: rgb(40, 43, 34);
}
li:nth-child(10){
    background-color: rgb(179, 36, 11);
}
.box{
    float: left;
    margin: 0%;
    border: 1px solid;
}
p{
    background:linear-gradient(to left,rgb(125, 125, 190),rgb(114, 129, 114));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
   
}
.fa-house{
    color: rgb(205, 205, 224);
    float: right;
    size:40%;
}
.last{
    width:100%;
}
.social,.contact{
    
    margin:0px;
    margin-top: 0px;
    width: 40%;
    height: 30%;
padding-top:0%;
    float: left;
}
footer{
    background-color: rgb(180, 173, 164);
    margin:0px;
    padding-left: 2%;
    margin-top: 20%;
    display: inline-block;
    width: 100%;
    height: 5%;
   
}
body{
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#box1{
    border: 5px solid;
    border-radius: 3px;
    border-color: rgb(73, 156, 224);
    width: 50%; 
    height: 30%;
    background-color: aliceblue;
}
#box2{
    border: 3px solid;
    border-radius: 0px;
    border-color: rgb(207, 46, 46);
    background-color: aliceblue;
    
}
#box3{
    border: 5px solid;
    border-radius: 3px;
    border-color: rgb(73, 156, 224);
    width: 50%; 
    height: 30%;
    background-color: aliceblue;
    padding: 5%;
}
#box4{
    border: 3px solid;
    border-radius: 0px;
    border-color: rgb(207, 46, 46);
    padding: 5%;
    background-color: aliceblue;
    
}
#box5{
    border: 5px solid;
    border-radius: 3px;
    border-color: rgb(73, 156, 224);
    width: 50%; 
    height: 30%;
    background-color: aliceblue;
    margin: 20%;
}
#box6{
    border: 3px solid;
    border-radius: 0px;
    border-color: rgb(207, 46, 46);
    background-color: aliceblue;
    margin: 10%;
    margin-top: 20%;
}